/* Cơ bản */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
}

/* Tổng quan chi tiêu */
.bg-gradient-to-r {
    background: linear-gradient(to right, #4c82fb, #9a5cfd);
    color: white;
    padding: 20px;
    text-align: center;
}

.bg-blue-600 {
    background-color: #4c82fb;
    color: white;
}

.rounded-lg {
    border-radius: 8px;
}

.text-white {
    color: white;
}

/* Nút */
button {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

.hidden {
    display: none;
}

/* Lịch giao dịch */
#transaction-calendar li {
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
